{% extends "layout.html" %}

{% block content %}

      <!-- Start Overlay Top-Bottom -->
      <div class="ol-dark-top"></div>
      <div class="ol-dark-bottom"></div>
      <!-- End Overlay Top-Bottom -->

      <!-- Start Main Page -->
      <main id="smooth-wrapper">
         <div id="smooth-content">
            <section class="slideshow-2 intro-eff">
               <div class="slides">
                  <div class="slide-wrap slide-current">
                     <div class="slide-img bg-ol-dark-6" style="background-image: url('../static/img/heroLatin.jpg');"></div>
                     <h2 class="slide-title">LatinArte WebSite</h2>
                  </div>
               </div>
            </section>
            <section class="container-fluid">
               <div class="row justify-content-center">
                  <div class="col-md-12 text-center align-cc mt-11 mb-11">
                     <div>
                        <h1 class="js-split-chars-up fs-20" data-speed="1.15">
                           Objective
                        </h1>
                        <h3 class="js-split-chars-up h2" data-speed="1.1">
                           Make it compelling and
                        </h3>
                        <h3 class="js-split-chars-up" data-speed="1.07">
                           easy to engage with
                        </h3>
                     </div>
                  </div>
               </div>
            </section>
            <section class="container-fluid m-section-150">
               <div class="row g-5 justify-content-center">
                  <div class="col-md-2 align-self-end">
                     <div class="js-fade smooth-xy" data-speedx="1.05" data-speedy="1.1" data-cursor="-exclusion -md">
                        <div class="grid-item grid-bg-1 grid-item-20">
                           <a href="https://latinarte.ca/" class="glightbox-1">
                              <div class="grid-item-img-v" 
                                   data-displacement="../static/img/textures/mask-29.jpg" 
                                   data-intensity1="" 
                                   data-intensity2="" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="power4">
                                   <img src="../static/img/latinleft.png" alt="Image">
                                   <img src="../static/img/latincenter.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Events</span>
                                       <span class="grid-item-link">Discover more</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="js-fade smooth-xy" data-speedx="0" data-speedy="1" data-cursor="-exclusion -md">
                        <div class="grid-item js-parallax-scale grid-bg-1 grid-item-35">
                           <a href="https://latinarte.ca/" class="glightbox-1">
                              <div class="grid-item-img-v parallax-img-scale" 
                                   data-displacement="../static/img/textures/mask-29.jpg" 
                                   data-intensity1="" 
                                   data-intensity2="" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="power4">
                                 <img src="../static/img/latincenter.png" alt="Image">
                                 <img src="../static/img/latinRight.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Art</span>
                                       <span class="grid-item-link">Discover more</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-2 align-self-start">
                     <div class="js-fade smooth-xy" data-speedx="-1.05" data-speedy="1" data-cursor="-exclusion -md">
                        <div class="grid-item grid-bg-1 grid-item-25">
                           <a href="https://latinarte.ca/" class="glightbox-1">
                              <div class="grid-item-img-v" 
                                   data-displacement="../static/img/textures/mask-29.jpg" 
                                   data-intensity1="" 
                                   data-intensity2="" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="power4">
                                   <img src="../static/img/latinRight.png" alt="Image">
                                   <img src="../static/img/latincenter.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Details</span>
                                       <span class="grid-item-link">Discover more</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 no-mobile"></div>
                  <div class="col-md-5">
                     <div class="js-fade smooth-xy" data-speedx="0.5" data-speedy="1" data-cursor="-exclusion -md">
                        <div class="grid-item grid-bg-1 grid-item-50">
                           <a href="https://latinarte.ca/" class="glightbox-1">
                              <div class="grid-item-img-v" 
                                   data-displacement="../static/img/textures/mask-29.jpg" 
                                   data-intensity1="" 
                                   data-intensity2="" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="power4">
                                   <img src="../static/img/latinaside2.png" alt="Image">
                                   <img src="../static/img/latinaside1.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Processes</span>
                                       <span class="grid-item-link">Discover more</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="js-fade smooth-xy" data-speedx="-0.5" data-speedy="1" data-cursor="-exclusion -md">
                        <div class="grid-item grid-bg-1 grid-item-50">
                           <a href="https://latinarte.ca/" class="glightbox-1">
                              <div class="grid-item-img-v" 
                                   data-displacement="../static/img/textures/mask-29.jpg" 
                                   data-intensity1="" 
                                   data-intensity2="" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="power4">
                                 <img src="../static/img/latinaside1.png" alt="Image">
                                 <img src="../static/img/latinaside2.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Collab</span>
                                       <span class="grid-item-link">Discover more</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <center>
               <div class="col-10 col-md-8">
                  <h4 class="js-split-chars-left fs-8 text-start smooth-xy" data-speedx="0.3" data-speedy="0.1">
                     <a href="/mda" aria-label="work 3" class="link-1 link-hover-1" data-cursor="-opaque">Next Work</a><i class="ms-5">&#8212;</i>
                  </h4>
                  <h4 class="js-split-chars-left fs-8 text-end smooth-xy" data-speedx="-0.3" data-speedy="-0.1">
                     <i class="me-5">&#8212;</i><a href="/realGenie" aria-label="work 1" class="link-1 link-hover-1" data-cursor="-opaque">Prev Work</a>
                  </h4>
               </div>
            </center>
            <div class="parallax-prev"></div>
            {% endblock content %}