{% extends "layout.html" %}

{% block content %}

      <!-- Start Overlay Top-Bottom -->
      <div class="ol-dark-top"></div>
      <div class="ol-dark-bottom"></div>
      <!-- End Overlay Top-Bottom -->
      <!-- Start Main Page -->
      <main id="smooth-wrapper">
         <div id="smooth-content">
            <section class="slideshow-2 m-section-150 intro-eff">
               <div class="slides slides-border">
                  <div class="slide-wrap slide-current rounded-4">

                     <video autoplay muted id="video_backgroundd" class="slide-img bg-ol-dark-5">
                        <source src="../static/img/sign.mp4" type="video/mp4">
                      </video>

                     <h2 class="slide-title"><b>C.</b><span class="f-stroke-w">Sierra</span></h2>
                     <h3 class="slide-desc">Data Scientist</h3>
                     <p class="slide-link" data-magnetic data-cursor="-exclusion -sm">
                        <a href="/portfolio" class="link-1 link-hover-1">Every detail counts</a>
                     </p>
                  </div>
                  <div class="slide-wrap rounded-4">
                     <div class="slide-img bg-ol-dark-5" style="background-image: url('../static/img/CreAtive.webp'); filter: brightness(50%);"></div>
                     <h2 class="slide-title">Cre<span class="f-stroke-w">Ative</span></h2>
                     <h3 class="slide-desc">A touch of natural beauty in every set</h3>
                     <p class="slide-link" data-magnetic data-cursor="-exclusion -sm">
                        <a href="/portfolio" class="link-1 link-hover-1">Creative Data Art</a>
                     </p>
                  </div>
                  <div class="slide-wrap rounded-4">
                     <div class="slide-img bg-ol-dark-5" style="background-image: url('../static/img/math.webp'); filter: brightness(40%);"></div>
                     <h2 class="slide-title"><span class="f-stroke-w">Dif</span>Ferent</h2>
                     <h3 class="slide-desc">Not the regular Data Scientist</h3>
                     <p class="slide-link" data-magnetic data-cursor="-exclusion -sm">
                        <a href="/portfolio" class="link-1 link-hover-1">I'll show you a different perspective ξ</a>
                     </p>
                  </div>
               </div>
               <div class="slidenav">
                  <p class="slidenav-item slidenav-item-prev slidenav-arrow" alt="arrow" data-magnetic data-cursor="-opaque">Left</p> / 
                  <p class="slidenav-item slidenav-item-next slidenav-arrow" alt="arrow" data-magnetic data-cursor="-opaque">Right</p>
               </div>
            </section>
            <section class="container-fluid m-section-150 p-0">
               <div class="row justify-content-center">
                  <div class="col-10 col-md-8 text-center">
                     <h1 class="js-split-words-up fs-9 mb-0" data-speed="1.03">
                        Clarity is<span class="f-stroke-w"> Key</span>
                     </h1>
                     <h2 class="js-split-lines-fade-up h6 mb-0"><br>
                        to take tomorrow’s decisions<br>in a world filled with
                     </h2>
                     <h3 class="js-split-words-up fs-10 fc-brown-1 mt-5" data-speed="0.95">
                        <i>&#8226;</i> Data <i>&#8226;</i>
                     </h3>
                  </div>
               </div>
            </section>
            <section class="imgscroll imgscroll-rotate m-section-150" style="min-height:50vh;">
               <div class="col-12 col-md-11 text-absolute z-index-2 text-center">
                  <h3 class="js-split-lines-up fs-10">
                     Using the web
                  </h3>
                  <p class="js-split-lines-up h5 text-uppercase fw-500">
                     to empower decisions through <span class="f-stroke-w">data-driven</span>
                  </p>
                  <h3 class="js-split-lines-up fs-10">
                     <span class="fc-brown-1">Narratives</span>
                  </h3>
               </div>
               <div class="imgscroll-wrap">
                  <div class="imgscroll-line smooth-xy" data-speedx="3" data-speedy="0">
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index2.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index1.png);"></div>
                     <div class="imgscroll-line-img"></div>
                  </div>
                  <div class="imgscroll-line smooth-xy" data-speedx="-3" data-speedy="0">
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index5.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index4.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index6.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index3.png);"></div>
                  </div>
                  <div class="imgscroll-line smooth-xy" data-speedx="2" data-speedy="0">
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index9.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index8.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index11.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index7.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index10.png);"></div>
                  </div>
                  <div class="imgscroll-line smooth-xy" data-speedx="-3" data-speedy="0">
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index14.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index13.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index15.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index12.png);"></div>
                     <div class="imgscroll-line-img"></div>
                  </div>
                  <div class="imgscroll-line smooth-xy" data-speedx="3" data-speedy="0">
                     <div class="imgscroll-line-img"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index16.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index7.png);"></div>
                     <div class="imgscroll-line-img rounded-4 bg-ol-dark-8" style="background-image: url(../static/img/back_index1.png);"></div>
                  </div>
               </div>
            </section>
            <h4 class="js-split-words-up fs-7 mb-0 text-center" data-speed="1.03">
               <br><br>
               <span class="f-stroke-w">MY STACK</span> <br>
            </h4>
            <br>
            <section class="js-fade m-section-200">
               <div class="js-scroll-horiz text-uppercase">
                  <p class="scroll-item-1 ff-1">Python</p>
                  <p class="scroll-item-1">/</p>
                  <p class="scroll-item-1 fc-light-1 fw-400">Pandas</p>
                  <p class="scroll-item-1">/</p>
                  <p class="scroll-item-1 ff-1">SQL</p>
                  <p class="scroll-item-1">/</p>
               </div>
               <div class="js-scroll-horiz">
                  <p class="scroll-item-2 ff-1">Mathematics</p>
                  <p class="scroll-item-2 fc-light-1">Statistics</p>
                  <p class="scroll-item-2 ff-1">Front &amp; Back-end</p>
                  <p class="scroll-item-2 fc-light-1">Linux</p>
                  <p class="scroll-item-2 ff-1">Unix</p>
               </div>
            </section>
            <section class="vh-200" style="margin-top: -15vh;">
               <div class="wrap-scale">
                  <div class="js-scale-scroll">
                     <div class="wrap-img-scale">
                           <div class="row justify-content-center">
                              <div class="col-md-9 position-relative mb-6">
                                 <div class="js-reveal-parallax-r parallax-img vh-70 rounded-4">
                                    <div class="reveal-parallax-r parallax-cont vh-80">
                                       <a href="">
                                          <video autoplay muted id="video_backgroundd" class="h-140" style="filter: grayscale(100%);" data-speed="auto" autoplay loop >
                                             <source src="../static/img/highlight.mp4" type="video/mp4">
                                          </video>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="text-absolute js-fade" style="background-color: #000;">
                                    <div class="js-horiz-loop align-cc" style="height: 10vw">
                                       <ul class="wrap-horiz-loop fw-500 ff-2 fs-7 text-uppercase" data-cursor-text="DRAG" data-cursor="-light-1 -lg">
                                          <li class="fc-brown-1">Career</li>
                                          <li><i>&#8226;</i></li>
                                          <li>Highlights</li>
                                          <li><i>&#8226;</i></li>
                                          <li class="fc-brown-1">Career</li>
                                          <li><i>&#8226;</i></li>
                                          <li>Highlights</li>
                                          <li><i>&#8226;</i></li>
                                          <li class="fc-brown-1">Career</li>
                                          <li><i>&#8226;</i></li>
                                          <li>Highlights</li>
                                          <li><i>&#8226;</i></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <h3 class="js-split-lines-up text-center h4 mt-5 link-hover-1">
                              <br>
                              Studies / Experiences / Volunteering
                           </h3>
                     </div>
                  </div>   
               </div>
               <br><br>
            </section>
            <section class="container-fluid m-section-150" style="margin-top: -15vh;" data-textcolor="" data-bgcolor="#000">
               <div class="row justify-content-center">
                  <div class="col-md-8 mb-5">
                     <div class="acc-toggle" data-cursor="-opaque">
                        <h2 class="text-center"><i>&#8226;</i> Studies <i>&#8226;</i></h2> <br>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 01
                              </div>
                              <div class="acc-title fs-6">
                                 Statistic
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2023 - Ongoing</p>
                           </li>
                           <li>
                              <p>MicroBachelors ® Program in Mathematics and Statistics Fundamentals</p>
                           </li>
                           <li>
                              <p>LSE - The London School of Economics and Political science</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 02
                              </div>
                              <div class="acc-title fs-6">
                                 Computing Support
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2020 - 2022</p>
                           </li>
                           <li>
                              <p>DEP Computing Support Technician</p>
                           </li>
                           <li>
                              <p>Institut Teccart</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 03
                              </div>
                              <div class="acc-title fs-6">
                                 Communication
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2017 - 2019</p>
                           </li>
                           <li>
                              <p>Associate's degree in Commercial Engineering</p>
                           </li>
                           <li>
                              <p>SENA</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 04
                              </div>
                              <div class="acc-title fs-6">
                                 Programming
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2023 - 2024</p>
                           </li>
                           <li>
                              <p>CS50’s Programming course</p>
                           </li>
                           <li>
                              <p>Harvard EDX</p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </section><br><br>
            <section class="container-fluid m-section-150" style="margin-top: -15vh;" data-textcolor="" data-bgcolor="#000">
               <div class="row justify-content-center">
                  <div class="col-md-8 mb-5">
                     <div class="acc-toggle" data-cursor="-opaque">
                        <h2 class="text-center"><i>&#8226;</i> Experience <i>&#8226;</i></h2> <br>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 01
                              </div>
                              <div class="acc-title fs-6">
                                 Web Integrator
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2024 - Ongoing</p>
                           </li>
                           <li>
                              <p>Combine various components and technologies to create fully functional, cohesive integration for new clients.</p>
                           </li>
                           <li>
                              <p>Plusgrade</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 02
                              </div>
                              <div class="acc-title fs-6">
                                 IT Analyst
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2022 - 2024</p>
                           </li>
                           <li>
                              <p>Assess, plan, implement and maintain information systems to meet the operational and business requirements of a rapidly changing environment in a Wall Street brokerage firm.</p>
                           </li>
                           <li>
                              <p>Anone - Allspring Global Invs.</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 03
                              </div>
                              <div class="acc-title fs-6">
                                 SQL Programmer
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2021 - 2022</p>
                           </li>
                           <li>
                              <p>Support for WMS platforms. Evaluate incidents and report system failures. Resolve SQL conflicts on remote DBMS production.</p>
                           </li>
                           <li>
                              <p>Tecsys</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 04
                              </div>
                              <div class="acc-title fs-6">
                                 Marketing Manager
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2019 - 2020</p>
                           </li>
                           <li>
                              <p>Manage sales, web and physical stores. Ensure seamless workflow and consistency on retail and sales marketing strategies. Meet key performance indicators and metrics.</p>
                           </li>
                           <li>
                              <p>Republica del Cacao</p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </section><br><br>
            <section class="container-fluid m-section-150" style="margin-top: -15vh;" data-textcolor="" data-bgcolor="#000">
               <div class="row justify-content-center">
                  <div class="col-md-8 mb-5">
                     <div class="acc-toggle" data-cursor="-opaque">
                        <h2 class="text-center"><i>&#8226;</i> Volunteering <i>&#8226;</i></h2> <br>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 01
                              </div>
                              <div class="acc-title fs-6">
                                 DevOps
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2022 - 2023</p>
                           </li>
                           <li>
                              <p>Streamlining and automating software delivery for Operations.</p>
                           </li>
                           <li>
                              <p>LatinArte</p>
                           </li>
                        </ul>
                        <div data-collapse="" class="js-fade">
                           <div class="acc-block">
                              <div class="acc-no circle-sm">
                                 02
                              </div>
                              <div class="acc-title fs-6">
                                 CS Instructor
                              </div>
                              <div class="acc-toggle-icon">
                                 <i class="ti-plus"></i>
                              </div>
                           </div>
                        </div>
                        <ul class="accordion">
                           <li>
                              <p>2023 - 2024</p>
                           </li>
                           <li>
                              <p>Teach subjects related to computer science.</p>
                           </li>
                           <li>
                              <p>AIEM</p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </section>
            <section class="container-fluid m-section-200">
               <div class="row gy-5 justify-content-evenly">
                  <div class="col-12 mb-4 position-relative">
                     <h3 class="title-bg-1 js-zoom-in fs-30 text-uppercase">
                        MY
                     </h3>
                     <div class="w-100 text-absolute">
                        <h3 class="js-split-chars-left h5 offset-2 mb-3">
                           <span class="fc-brown-1"><i>&#8212;</i> Building</span> Real Value<br>
                           <span class="fs-13 fc-brown-1">PORTFOLIO</span>
                        </h3>
                     </div>
                  </div>
                  <div class="col-12 mb-4 text-center" style="margin-top: -5vh;">
                        <center>
                           <h3 class="js-split-lines-up h4" data-speed="1.07" style="max-width: 75%;">
                              Beyond a resume, I would like to offer a detailed 
                              review at my projects, all the way from a 
                              question to eventually modeling of the Data.
                           </h3>
                        </center>
                     <h3 class="js-split-lines-up fs-3 mt-4" data-speed="1.01">
                        <a href="/portfolio" class="link-1 link-hover-1" data-cursor="-opaque">See Portolio</a>
                     </h3>
                     <br><br>
                  </div>
               </div>
               <center><hr style="color: white ; max-width: 75%;"></center>
            </section>
            <section class="container-fluid m-section-100" style="margin-top: -8vh; margin-bottom: -8vh;">
               <div class="row justify-content-center">
                  <div class="col-10 col-md-9">
                     <h3 class="js-split-lines-up fs-8 text-uppercase" data-speed="1.06">
                        <span class="f-stroke-w">Let's team up !</span><br>
                     </h3>
                     <h3 class="js-split-lines-up h5" data-speed="1.04">
                        Feel free to contact me if you would like to collab.
                     </h3>
                  </div>
               </div>
            </section>
            <div class="parallax-prev"></div>
            {% endblock content %}