{% extends "layout.html" %}

{% block content %}

      <!-- Start Overlay Top-Bottom -->
      <div class="ol-dark-top"></div>
      <div class="ol-dark-bottom"></div>
      <!-- End Overlay Top-Bottom -->

      <!-- Start Main Page -->
      <main id="smooth-wrapper">
         <div id="smooth-content">
            <section class="slideshow-5 intro-eff">
               <div class="slides slides-images">
                  <div class="slide-wrap slide-current">
                     <div class="slide-img bg-ol-dark-7" style="background-image: url('../static/img/mdaport.jpg'); filter: grayscale(100%);"></div>
                  </div>
               </div>
               <div class="slides slides-titles text-uppercase">
                  <div class="slide-wrap slide-current">
                     <h2 class="slide-title">MDA Website</h2>
                  </div>
               </div>
            </section>
            <section class="container-fluid">
               <div class="row justify-content-center">
                  <div class="col-md-9 text-center align-cc mt-11 mb-11">
                     <div>
                        <h1 class="js-split-lines-up f-stroke-w fs-15" data-speed="1.1">
                           New interactive
                        </h1>
                        <h2 class="js-split-lines-up fs-20" data-speed="1.2">
                           Design
                        </h2>
                     </div>
                  </div>
               </div>
            </section>
            <section class="container-fluid m-section-150">
               <div class="row g-5 justify-content-around">
                  <div class="col-md-3">
                     <div class="js-skew" data-speed="1.3" data-cursor="-exclusion -sm">
                        <div class="grid-item js-reveal-img-l grid-bg-1 grid-item-20">
                           <a href="https://maisondesameriques.ca/" class="glightbox-1">
                              <div class="grid-item-img-h reveal-img-l" 
                                   data-displacement="../static/img/textures/mask-31.jpg" 
                                   data-intensity1="1" 
                                   data-intensity2="-1" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="expo.inOut" style="filter: grayscale(100%);">
                                 <img src="../static/img/mdaleft1.png" alt="Image">
                                 <img src="../static/img/mdaleft2.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Vive</span>
                                       <span class="grid-item-link">Visit Now</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                        <h3 class="js-split-lines-up my-4 mx-2 fs-3">New</h3>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="js-skew" data-speed="1.2" data-cursor="-exclusion -sm">
                        <h3 class="js-split-lines-up my-4 mx-2 fs-3">Fresh</h3>
                        <div class="grid-item js-reveal-img-r grid-bg-1 grid-item-30">
                           <a href="https://maisondesameriques.ca/" class="glightbox-1">
                              <div class="grid-item-img-v reveal-img-r" 
                                   data-displacement="../static/img/textures/mask-31.jpg" 
                                   data-intensity1="1" 
                                   data-intensity2="-1" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="expo.inOut" style="filter: grayscale(100%);">
                                 <img src="../static/img/mdamiddle1.png" alt="Image">
                                 <img src="../static/img/mdamiddle2.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>Genial</span>
                                       <span class="grid-item-link">Visit Now</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="js-skew" data-speed="1.1" data-cursor="-exclusion -sm">
                        <div class="grid-item js-reveal-img-l grid-bg-1 grid-item-40">
                           <a href="https://maisondesameriques.ca/" class="glightbox-1">
                              <div class="grid-item-img-v reveal-img-l" 
                                   data-displacement="../static/img/textures/mask-31.jpg" 
                                   data-intensity1="1" 
                                   data-intensity2="-1" 
                                   data-angle1="" 
                                   data-angle2="" 
                                   data-ease="expo.inOut" style="filter: grayscale(100%);">
                                 <img src="../static/img/mdaright1.png" alt="Image">
                                 <img src="../static/img/mdaright2.png" alt="Image">
                                 <div class="grid-item-content">
                                    <h3 class="grid-item-subtitle">
                                       <span>eCommerce</span>
                                       <span class="grid-item-link">Visit Now</span>
                                    </h3>
                                 </div>
                              </div>
                           </a>
                        </div>
                        <h3 class="js-split-lines-up my-4 mx-2 fs-3">Effective</h3>
                     </div>
                  </div>
                <div class="col-12 no-mobile"></div>
               </div>
            </section>
            <div class="js-drag-slider-wrap">
               <div class="js-drag-slider-inner">
                  <div class="js-drag-slider-wrap-img">
                  </div>
               </div>
            </div>


            <center>
               <div class="col-10 col-md-8">
                  <h4 class="js-split-chars-left fs-8 text-start smooth-xy" data-speedx="0.3" data-speedy="0.1">
                     <a href="/tick" aria-label="work 3" class="link-1 link-hover-1" data-cursor="-opaque">Next Work</a><i class="ms-5">&#8212;</i>
                  </h4>
                  <h4 class="js-split-chars-left fs-8 text-end smooth-xy" data-speedx="-0.3" data-speedy="-0.1">
                     <i class="me-5">&#8212;</i><a href="/latinArte" aria-label="work 1" class="link-1 link-hover-1" data-cursor="-opaque">Prev Work</a>
                  </h4>
               </div>
            </center>

            <div class="parallax-prev"></div>
            {% endblock content %}